*.exe
.vs
Lab1_C_Plus_Plus_SoftwareRasterizerPart1/main.obj
Assignment0_CPlusPlus/textures/test1_darken.ppm
Lab3_Starfield/.project
Lab3_Starfield/build
Lab3_Starfield/ZERO_CHECK.vcxproj.filters
Lab3_Starfield/ZERO_CHECK.vcxproj
Lab3_Starfield/Lab2.vcxproj.filters
Lab3_Starfield/Lab2.vcxproj
Lab3_Starfield/Lab2.sln
Lab3_Starfield/CMakeFiles/TargetDirectories.txt
Lab3_Starfield/CMakeFiles/generate.stamp.list
Lab3_Starfield/CMakeFiles/generate.stamp.depend
Lab3_Starfield/CMakeFiles/generate.stamp
Lab3_Starfield/CMakeFiles/CMakeOutput.log
Lab3_Starfield/CMakeFiles/cmake.check_cache
Lab3_Starfield/CMakeFiles/4403e9619eba22c70e7da14d252fc777/generate.stamp.rule
Lab3_Starfield/CMakeFiles/3.16.2/VCTargetsPath.vcxproj
Lab3_Starfield/CMakeFiles/3.16.2/VCTargetsPath.txt
Lab3_Starfield/CMakeFiles/3.16.2/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
Lab3_Starfield/CMakeFiles/3.16.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
Lab3_Starfield/CMakeFiles/3.16.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
Lab3_Starfield/CMakeFiles/3.16.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
Lab3_Starfield/CMakeFiles/3.16.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
Lab3_Starfield/CMakeFiles/3.16.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
Lab3_Starfield/CMakeFiles/3.16.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
Lab3_Starfield/CMakeFiles/3.16.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
Lab3_Starfield/CMakeFiles/3.16.2/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
Lab3_Starfield/CMakeFiles/3.16.2/CompilerIdCXX/CompilerIdCXX.vcxproj
Lab3_Starfield/CMakeFiles/3.16.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
Lab3_Starfield/CMakeFiles/3.16.2/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
Lab3_Starfield/CMakeFiles/3.16.2/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
Lab3_Starfield/CMakeFiles/3.16.2/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
Lab3_Starfield/CMakeFiles/3.16.2/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
Lab3_Starfield/CMakeFiles/3.16.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
Lab3_Starfield/CMakeFiles/3.16.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
Lab3_Starfield/CMakeFiles/3.16.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
Lab3_Starfield/CMakeFiles/3.16.2/CompilerIdC/Debug/CMakeCCompilerId.obj
Lab3_Starfield/CMakeFiles/3.16.2/CompilerIdC/CompilerIdC.vcxproj
Lab3_Starfield/CMakeFiles/3.16.2/CompilerIdC/CMakeCCompilerId.c
Lab3_Starfield/CMakeFiles/3.16.2/CMakeSystem.cmake
Lab3_Starfield/CMakeFiles/3.16.2/CMakeRCCompiler.cmake
Lab3_Starfield/CMakeFiles/3.16.2/CMakeDetermineCompilerABI_CXX.bin
Lab3_Starfield/CMakeFiles/3.16.2/CMakeDetermineCompilerABI_C.bin
Lab3_Starfield/CMakeFiles/3.16.2/CMakeCXXCompiler.cmake
Lab3_Starfield/CMakeFiles/3.16.2/CMakeCCompiler.cmake
Lab3_Starfield/CMakeCache.txt
Lab3_Starfield/cmake_install.cmake
Lab3_Starfield/ALL_BUILD.vcxproj.filters
Lab3_Starfield/ALL_BUILD.vcxproj
lab0_setup/build
*.exe
.vs
Lab1_C_Plus_Plus_SoftwareRasterizerPart1/main.obj
Assignment0_CPlusPlus/textures/test1_darken.ppm
Lab3_Starfield/.project
Lab3_Starfield/build
Lab3_Starfield/ZERO_CHECK.vcxproj.filters
Lab3_Starfield/ZERO_CHECK.vcxproj
Lab3_Starfield/Lab2.vcxproj.filters
Lab3_Starfield/Lab2.vcxproj
Lab3_Starfield/Lab2.sln
Lab3_Starfield/CMakeFiles/TargetDirectories.txt
Lab3_Starfield/CMakeFiles/generate.stamp.list
Lab3_Starfield/CMakeFiles/generate.stamp.depend
Lab3_Starfield/CMakeFiles/generate.stamp
Lab3_Starfield/CMakeFiles/CMakeOutput.log
Lab3_Starfield/CMakeFiles/cmake.check_cache
Lab3_Starfield/CMakeFiles/4403e9619eba22c70e7da14d252fc777/generate.stamp.rule
Lab3_Starfield/CMakeFiles/3.16.2/VCTargetsPath.vcxproj
Lab3_Starfield/CMakeFiles/3.16.2/VCTargetsPath.txt
Lab3_Starfield/CMakeFiles/3.16.2/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
Lab3_Starfield/CMakeFiles/3.16.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
Lab3_Starfield/CMakeFiles/3.16.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
Lab3_Starfield/CMakeFiles/3.16.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
Lab3_Starfield/CMakeFiles/3.16.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
Lab3_Starfield/CMakeFiles/3.16.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
Lab3_Starfield/CMakeFiles/3.16.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
Lab3_Starfield/CMakeFiles/3.16.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
Lab3_Starfield/CMakeFiles/3.16.2/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
Lab3_Starfield/CMakeFiles/3.16.2/CompilerIdCXX/CompilerIdCXX.vcxproj
Lab3_Starfield/CMakeFiles/3.16.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
Lab3_Starfield/CMakeFiles/3.16.2/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
Lab3_Starfield/CMakeFiles/3.16.2/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
Lab3_Starfield/CMakeFiles/3.16.2/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
Lab3_Starfield/CMakeFiles/3.16.2/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
Lab3_Starfield/CMakeFiles/3.16.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
Lab3_Starfield/CMakeFiles/3.16.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
Lab3_Starfield/CMakeFiles/3.16.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
Lab3_Starfield/CMakeFiles/3.16.2/CompilerIdC/Debug/CMakeCCompilerId.obj
Lab3_Starfield/CMakeFiles/3.16.2/CompilerIdC/CompilerIdC.vcxproj
Lab3_Starfield/CMakeFiles/3.16.2/CompilerIdC/CMakeCCompilerId.c
Lab3_Starfield/CMakeFiles/3.16.2/CMakeSystem.cmake
Lab3_Starfield/CMakeFiles/3.16.2/CMakeRCCompiler.cmake
Lab3_Starfield/CMakeFiles/3.16.2/CMakeDetermineCompilerABI_CXX.bin
Lab3_Starfield/CMakeFiles/3.16.2/CMakeDetermineCompilerABI_C.bin
Lab3_Starfield/CMakeFiles/3.16.2/CMakeCXXCompiler.cmake
Lab3_Starfield/CMakeFiles/3.16.2/CMakeCCompiler.cmake
Lab3_Starfield/CMakeCache.txt
Lab3_Starfield/cmake_install.cmake
Lab3_Starfield/ALL_BUILD.vcxproj.filters
Lab3_Starfield/ALL_BUILD.vcxproj
Lab4_MatrixTransformations/Build
.DS_Store
Assignment1_MathFoundations1/build
Lab5_Part1/build
Lab5_Part2/build
Lab6_ColorAndTransforms/build
Assignment3_ModelParser/build
Lab7_AbstractionsAndTextures/build
Lab8_CameraAndIllumination/build
Assignment4_TexturedModel/build
Lab10_FBOs/build
